<footer class="footer">
      <div class="footer__contact">
        <p><strong>Teléfono:</strong> +34 964 123 456</p>
        <p><strong>Email:</strong> contacto@economiacircular2025.org</p>
        <hr class="footer__divider" />
      </div>
  <div class="footer__inner">

    <div class="footer__logo">
      <img src="./assets/images/logo-principal.png" alt="Logo Jornadas Economía Circular" />
    </div>
    <nav class="footer__nav">
      <ul class="footer__menu">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="./participantes.html">Ponentes</a></li>
        <li><a href="./articulo.html">Artículo</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </nav>
    <div class="footer__social">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-google"></i>
    </div>
  </div>
</footer>
