@use "sass:color";


$primary: #2a7f62;
$link-color: #f0f0f0;
$link-hover-color: color.adjust($link-color, $lightness: -10%);


@import "bootstrap/scss/bootstrap";

@import "abstracts/variables";

@layer base, layout, components, pages;

@layer base {
  @import "base/base";
  @import "base/reset";
  @import "base/typography";
}


@layer layout {
  @import "layouts/header";
  @import "layouts/footer";
  @import "layouts/grid";
}

@layer components {
  @import "components/button";
}

@layer pages {
  @import "pages/home";
  @import "pages/contact";
  @import "pages/participantes";
  @import "pages/articulo";
}
